---
import Link from './Link.astro';
import { SITE, UI } from '../../config';

const currentYear = new Date().getFullYear();
const referenceLink = UI.socialLinks.find((link) => link.href.includes('astro-antfustyle-theme'));
---
<footer class="site-footer" role="contentinfo">
  <p>
    © {currentYear} {SITE.title} · Built while studying the{' '}
    <Link
      href={referenceLink?.href ?? 'https://github.com/lin-stephanie/astro-antfustyle-theme'}
      external
    >
      Astro AntfuStyle Theme
    </Link>
  </p>
</footer>
